{%  extends 'base.html' %}
{% block head %}
{% load static %}
<style>
    .navbarDropdown {
        margin-left: 3rem;
    }

    .navbar {
        font-size: 1.2rem;
        padding: 0.5rem;
    }

    .navbar-brand {
        font-size: 1.5rem;
        padding: 0.5rem;
        margin: 0;
    }

    .dropdown-menu {
        margin-left: 3rem;
    }

    .container {
        display: grid;
        max-width: 100%;
        grid-gap: 2rem;
        margin: 2rem auto;
        grid-template-areas: "rssFeed dosDonts dosDonts dosDonts dosDonts"
            "rssFeed worldData worldData coronaDetails coronaDetails"
            "rssFeed worldData worldData coronaDetails coronaDetails"
            "rssFeed worldData worldData coronaDetails coronaDetails"
            "rssFeed worldData worldData coronaDetails coronaDetails"
            "rssFeed worldData worldData coronaDetails coronaDetails"
            "rssFeed worldData worldData coronaDetails coronaDetails"
            "rssFeed worldData worldData coronaDetails coronaDetails"
            "rssFeed worldData worldData coronaDetails coronaDetails"
            "rssFeed worldData worldData coronaDetails coronaDetails"
            "rssFeed worldData worldData coronaDetails coronaDetails"
            "rssFeed worldData worldData coronaDetails coronaDetails"
            "rssFeed worldData worldData coronaDetails coronaDetails"
            "rssFeed footer footer footer footer";

    }

    #item1 {
        grid-area: rssFeed;
        height:140vh;
        overflow-y: scroll;
        /* width:200px; */
    }

    #item2 {
        grid-area: dosDonts;
        background-color: rgb(214, 255, 245);
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        align-items: center;
        font-weight: 600;
        /* flex-wrap: wrap; */
    }

    #item3 {
        grid-area: worldData;
        height:115vh;
        overflow-y: scroll;
        /* background-color: red; */
    }

    #item4 {
        grid-area: coronaDetails;
        /* background-color: orange; */
        display: grid;
        grid-gap: 2rem;
        min-width: 32rem;
    }

    #item5 {
        grid-area: footer;
        background-color: purple;
    }

    th {
        top: 0;
        position: sticky;
    }

    /* .item1Small {
        font-size: 1rem;
    } */

    /* #item1ul{
        width:200px;
    } */
    #mythBusters {
        background-color: rgb(216, 160, 160);
    }

    #symptoms {
        background-color: rgb(220, 236, 43);
    }

    #prevention {
        background-color: rgb(7, 170, 199);
    }

    #treatment {
        background-color: rgb(80, 156, 84);
    }

    .dos {
        font-size: 1.1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        /* max-width: 40rem; */
        width:100%;
        height: 18vh;
        /* cursor: pointer; */
    }
    #dos2{
        display:none;
    }
    #dos3{
        display:none;
    }
    #dos4{
        display:none;
    }
    #dos5{
        display:none;
    }
    #dos6{
        display:none;
    }

    .content {
        width: 40rem;
    }
    .logo img{
        height:14vh;
        width:6rem;
    }

    .item4ele{
        display:flex;
        justify-content: center;
        align-items: center;
    }
</style>
{% endblock %}


{% block body %}


<div class='container'>
    <div class='list-group' id="item1">
        {% for title,link,published in newsList %}
        <div class="card ">
            <div class="card-body">
                <h5 class="card-title">{{ title }}</h5>
                <p class="card-text">
                    Published Date:{{ published }}
                    <br>
                    To know more click on:
                    <br><a href="{{ link }}">{{ title }}</a>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="item2">
        <div class='dos' id="dos1">
            <div class="logo" id="item2logo1">
                <img src="{% static 'covid19data/images/dosDonts/1.jpg' %}" alt="item2logo1">
            </div>
            <div class="content" id="item2content1">
                Practice frequent hand
                washing. Wash hands with
                soap and water or use alcohol
                based hand rub. Wash hands
                even if they are visibly clean
            </div>
        </div>
        <div class='dos' id="dos2">
            <div class="logo" id="item2logo2">
                <img src="{% static 'covid19data/images/dosDonts/2.jpg' %}" alt="item2logo2">
            </div>
            <div class="content" id="item2content2">Cover your nose and
                mouth with
                handkerchief/tissue while
                sneezing and coughin
            </div>
        </div>
        <div class='dos' id="dos3">
            <div class="logo" id="item2logo3">
                <img src="{% static 'covid19data/images/dosDonts/3.jpg' %}" alt="item2logo3">
            </div>
            <div class="content" id="item2content3">
                Throw used
                tissues into closed
                bins immediately
                after use
            </div>
        </div>
        <div class='dos' id="dos4">
            <div class="logo" id="item2logo4">
                <img src="{% static 'covid19data/images/dosDonts/4.jpg' %}" alt="item2logo4">
            </div>
            <div class="content" id="item2content4">See a doctor if you feel unwell
                (fever, difficult breathing and
                cough). While visiting doctor
                wear a mask/cloth to cover
                your mouth and nose
            </div>
        </div>
        <div class='dos' id="dos5">
            <div class="logo" id="item2logo5">
                <img src="{% static 'covid19data/images/dosDonts/5.jpg' %}" alt="item2logo5">
            </div>
            <div class="content" id="item2content5">If you have these
                signs/symptoms please
                call State helpline number
                or Ministry of Health &
                Family Welfare’s 24X7
                helpline at 011-23978046
            </div>
        </div>
        <div class='dos' id="dos6">
            <div class="logo" id="item2logo6">
                <img src="{% static 'covid19data/images/dosDonts/6.jpg' %}" alt="item2logo6">
            </div>
            <div class="content" id="item2content6">Avoid participating
                in large gatherings
            </div>
        </div>

    </div>
    <div id="item3">
        {{ worldData | safe }}
    </div>
    <div id="item4">
        <div class='item4ele' id="mythBusters">mythBusters</div>
        <div class='item4ele' id="symptoms">symptoms</div>
        <div class='item4ele' id="prevention">prevention</div>
        <div class='item4ele' id="treatment">treatment</div>
    </div>
    <div id="item5">5</div>
</div>

{% endblock %}
{% block script %}
<script>
    // item3
    let item3 = document.getElementById('item3');
    item3table = item3.querySelector('table');
    item3table.className = 'table table-hover';
    item3table.removeAttribute('border');
    document.querySelector('tr').removeAttribute('style');
    document.querySelector('thead').className = 'thead-dark';

    // item2
    let dosChildren=document.querySelector('#item2').children;
    dosChildren=Array.from(dosChildren)
    dosChildren.forEach(function(element,index){
        element.addEventListener('mouseleave',function(e){
            element.style.display='none';
            dosChildren[(index+1)%6].style.display='flex';
        //     setTimeout(() => {
        //         element.style.display='none';
        //     }, 5000);
        });
    });

    // item4
    let item4children=document.querySelector('#item4').children;
    item4children=Array.from(item4children)
    item4children.forEach(function(element,index){

        element.addEventListener('mouseleave',function(e){

            item4children.forEach(element => {
                element.style.display='flex';
            });

        });

        element.addEventListener('click',function(e){

            item4children.forEach(function(element,inner_index) {
                if(inner_index!==index)
                    element.style.display='none';
            });

        });
    });


</script>
{% endblock %}