{% extends 'notesApp/notesAppBase.html' %}
{% block head %}
<style >
	#base{
		display:flex;
		justify-content: center;
		align-items: center;
		height: 88vh;
	}
	form{
		width: 50vw;
	}
</style>
{% endblock %}

{% block body %}
<div class="container" id='base'>
	<form method="POST">
    {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form.visible_fields %}
        <div class="form-group">
            {{ field.label_tag }}
            {{ field.errors }}
            {{ field }}
            {{ field.help_text }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Update</button>
	</form>

</div>
<script>
    let a = new Date()
    createdDate = document.getElementById('id_createdDate');
    modifiedDate = document.getElementById('id_modifiedDate');
    modifiedDate.value = (a.getMonth() +1)+ "/" + a.getDate() + "/" + a.getFullYear() + " " + a.getHours() + ":" + a.getMinutes();
    createdDate.parentElement.style.display = "none";
    modifiedDate.parentElement.style.display = "none";
</script>
{% endblock %}