{% extends 'notesApp/notesAppBase.html' %}
{% block head %}
<style>
    #base {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 88vh;
    }

    form {
        width: 50vw;
    }

</style>
{% endblock %}

{% block body %}
<div class="container" id='base'>
    <form method="POST">
        {% csrf_token %}
        <div class="">
            <h4>
                Title: {{ obj.title }}
            </h4>
            <h4>
                Content: {{ obj.content }}
            </h4>
            <h5>
                Created Date: {{ obj.createdDate }}
            </h5>
            <h5>
                Modified Date: {{ obj.modifiedDate }}
            </h5>
        </div>
        <h5>Are you sure you want to delete these details?</h5>
        <button type="submit" class="btn btn-primary">Delete</button>
    </form>

</div>

{% endblock %}